<div class="title-tuner">
    Tunner music
</div>
<div class="list-music noselect">
    <ul>
        <li>
            <button class="item-artist noselect cursor-cartas">
                <picture class="item-artist">
                    <source class="item-artist"
                        srcset="https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/e6/c9/68/e6c96806-6ab4-2b80-5dcc-532cc82bf7cc/source/1040x346sr.webp"
                        media="(min-width: 600px)">
                    <img class="item-artist"
                        src="https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/e6/c9/68/e6c96806-6ab4-2b80-5dcc-532cc82bf7cc/source/1040x346sr.webp"
                        alt="MDN">
                </picture>
            </button>
        </li>
        <li>
            <button class="item-artist cursor-cartas">
                <picture class="item-artist">
                    <source class="item-artist"
                        srcset="https://is1-ssl.mzstatic.com/image/thumb/Features112/v4/51/95/7c/51957c7c-d270-0b5c-6f44-47e869bd7630/source/1040x346sr.webp"
                        media="(min-width: 600px)">
                    <img class="item-artist"
                        src="https://is1-ssl.mzstatic.com/image/thumb/Features112/v4/51/95/7c/51957c7c-d270-0b5c-6f44-47e869bd7630/source/1040x346sr.webp"
                        alt="MDN">
                </picture>
            </button>
        </li>
        <li>
            <button class="item-artist cursor-cartas">
                <picture class="item-artist">
                    <source class="item-artist"
                        srcset="https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/e6/c9/68/e6c96806-6ab4-2b80-5dcc-532cc82bf7cc/source/1040x346sr.webp"
                        media="(min-width: 600px)">
                    <img class="item-artist"
                        src="https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/e6/c9/68/e6c96806-6ab4-2b80-5dcc-532cc82bf7cc/source/1040x346sr.webp"
                        alt="MDN">
                </picture>
            </button>
        </li>
        <li>
            <button class="item-artist cursor-cartas">
                <picture class="item-artist">
                    <source class="item-artist"
                        srcset="https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/e6/c9/68/e6c96806-6ab4-2b80-5dcc-532cc82bf7cc/source/1040x346sr.webp"
                        media="(min-width: 600px)">
                    <img class="item-artist"
                        src="https://is1-ssl.mzstatic.com/image/thumb/Features124/v4/e6/c9/68/e6c96806-6ab4-2b80-5dcc-532cc82bf7cc/source/1040x346sr.webp"
                        alt="MDN">
                </picture>
            </button>
        </li>

    </ul>

</div>