<div class="title-tuner">
    Tunner music
</div>
<div class="list-music noselect">
    <ul>
        <li *ngFor="let item of categorias.categ">
            <button class="item-artist noselect cursor-cartas">
                <picture class="item-artist">
                    <source class="item-artist" [srcset]="item.imgurl" media="(min-width: 600px)">
                    <img class="item-artist" [src]="item.imgurl" alt="MDN">
                </picture>
                <div class="categoria-titulo">{{item.categoria}}</div>
            </button>
        </li>


    </ul>

</div>