.contenedorprincipal {
    grid-template-columns: 260px minmax(0, 1fr);
    background-color: rgba(160, 157, 157, 0.05);
    display: grid;
    height: 100vh;
    width: 100%;
}

.segundacolumna {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow: hidden;
}
.header-user{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;
}