.title-artista {
    color: #FFF;
    font-weight: 600;
    padding: 0 10px;

} 

.title-artist {
    top: 10;
    font-size: 17px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
    grid-gap: 4px;

}

.list-artist{
    color: #FFF;
    font-weight: 600; 
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */

} 
.item-artist {
    border-radius: 5px; 
    padding: 0 0 0 0;
}

.card-artist { 
    background-color: rgba(14, 167, 72, 0.867); 
    color: #FFF;
    border: none;
    background-size: cover;
    border-radius: 5px;
    height: 185px;
    width: 185px;

} 