/* You can add global styles to this file, and also import other style files */
:root{
    --color-1:#1f1f1f;
    --color-2:#DCDCDC;
    --color-3:#fa586a;
    --font-1: 'Roboto Flex', sans-serif;
    --font-size: 15px;
    --porcentaje: 0%;
    
     
}

body{
    margin: 0 0 0 0;
    background: var(--color-1);
    color: var(--color-3);
    font-family: var(--font-1);
    font-weight: 400;
    line-height: 1.46667;
    letter-spacing: 0;
}
 
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  .cursor-cartas{
    cursor: pointer;
  }