.title-canciones {
    color: #FFF;
    font-weight: 600;
    /* margin: 0 0 0 17rem; */
    padding: 0 10px;

}

.table-container {
    /* margin: 0 0 0 17rem; */
    padding: 0 10px;
    /* width: 68%; */
    background-color: rgba(160, 157, 157, 0.05);
    padding-bottom: 80px;
     height: auto;

}

.table-container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

  

.table-canciones {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.canciones-list-header {
    /* background: #1f1f1f; */
    display: table-row;
    color: #FFF;
    position: relative;


}

.col-header-table {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;


}

.header-val {
    margin-left: 10px;
    /* margin-right: 20px */
}

.column-header {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    


}

.column-header::before {

    display: inline-block;
    content: '';
    height: 16px;
    width: 1px;
    position: absolute;
    top: 7px;
    border-radius: 0.5px;
    background: #353538;
    


}

.col-header-titel {
    position: absolute;
    left: -15px;

}

.col-altura {
    padding-bottom: 6px;
    height: 32px;
    border-radius: 0;


}

.cancioneslist-detalle {
    /* background:#232323; */
    height: 54px;
    display: table-row;

    position: relative;
    z-index: 1;
}

.color-detalle {
    color: #e4e4eb;
}

.color-detalle-otros {
    color: #a1a1a6;
}


.col-detalle {
    display: table-cell;
    vertical-align: middle;
    overflow: unset;
    box-sizing: content-box;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
}

.detalle-position {
    margin-left: 10px; 
}

.card-song {
    /* display: grid; */
    display: flex;
    align-items: center;
    /* position: absolute; */
    
}

.img-song {
    margin-inline-end: 20px;
}
.detalle-position-time{
    display: flex; 
    justify-content: center;
    
    margin-left: 10px;  
    flex-direction: row;
}
.cancion-share{
    color: var(--color-3);
    font-weight: 700;
}
.timer-music{
    margin-inline-end: 10px;
}
.cancion-header-col-wit{
    width: 42%;
}

.cancion-timer-col-wit{
    width: 92px;
}

.button-playLista{
    display: none;
}
/* .button-playLista :hover{
    display: flex;
} */
.card-song:hover .button-playLista{
   top:0;
   bottom: 0;
   padding: 10px 10px 10px 10px; 
   /* margin-top: auto;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto; */

   position: absolute;
   display: flex;
   fill: #FFF;
   background: #e4e4eb71;
   width: 20px;
   /* margin: 0 auto; */
   /* justify-content: center;
   align-items: center;
   justify-items: center; */
    
}

/*icono de music*/
.cancion-titulo{
    display: flex;
}
.titulo-text{
    margin-inline-start: 10px;
}
.imgmusica{
    position: relative;
    background-color: rgba(202, 200, 200, 0.555);
    width: 40px;
    height: 40px;
}
.contenedoricon{

    position: absolute;
    /* background-color: rgba(228, 228, 228, 0.164); */
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
}
.icon{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    visibility: hidden;
}

/* .contenedoricon:hover {
    
     background-color: rgba(228, 228, 228, 0.164); */
    


.contenedoricon:hover .icon{
    fill: #fff;
    visibility: visible;
    
}

.playing-music .playback-bars__svg{
    display: flex;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    flex-direction: column;
    justify-items: center;
    fill:var(--color-3);
    /* position: fixed; */
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    
}

.playback-bars__bar{
    transform:  translateY(70%);
}
/* .playback-bars__bar--2{
    fill: rebeccapurple;
} */
/* #bar-ember222{
     
    animation-name: barra;
    animation-duration:  2s;
    animation-iteration-count: infinite;
} */

.playback-bars__bar--1{
    animation: barra1 5s ease infinite;
}

.playback-bars__bar--2{
    animation: barra2 2s ease infinite;
}
.playback-bars__bar--3{
    animation: barra3 4s ease infinite;
}
.playback-bars__bar--4{
    animation: barra4 1s ease infinite;
}

@keyframes barra1 {
    from{
        /* transform: translate(2.9668 0); */
        transform: translateY(5%) ;
    }
    to{
        transform:  translateY(70%);
        /* transform: translateY(30%); */
    }
}

@keyframes barra2 {
    from{
        /* transform: translate(2.9668 0); */
        transform: translateY(5%) ;
    }
    to{
        transform:  translateY(80%);
        /* transform: translateY(30%); */
    }
}

@keyframes barra3 {
    from{
        /* transform: translate(2.9668 0); */
        transform: translateY(5%) ;
    }
    to{
        transform:  translateY(50%);
        /* transform: translateY(30%); */
    }
} 

@keyframes barra4 {
    from{
        /* transform: translate(2.9668 0); */
        transform: translateY(5%) ;
    }
    to{
        transform:  translateY(72%);
        /* transform: translateY(30%); */
    }
}