<div class="title-canciones">Canciones</div>
<div class="table-container noselect">
    <div class="table-canciones">
        <div class="canciones-list-header">
            <div class="col-header-table col-altura color-detalle-otros cancion-header-col-wit">
                <div class="header-val">Cancion</div>
            </div>
            <div class="column-header col-header-table col-altura color-detalle-otros">
                <div class="header-val">Artista</div>
            </div>
            <div class="column-header col-header-table col-altura color-detalle-otros">
                <div class="header-val">Album</div>
            </div>
            <div class="column-header col-header-table col-altura color-detalle-otros cancion-timer-col-wit">
                <div class="header-val">Time</div>
            </div>
        </div>
        <div class="cancioneslist-detalle" *ngFor="let item of canciones?.song">
            <div class="col-detalle color-detalle detalle-position">
                <div class="detalle-position">
                    <div class="card-song ">
                        <div class="img-song cursor-cartas" (click)="reproducir(item)">

                            <img [src]="item.cover" height="40px" width="40px">
                            <div class="artwork-overlay list-lockup-content__artwork-overlay">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                    class="button-playLista cursor-cartas">
                                    <path
                                        d="M4.4 15.14l10.386-6.096c.842-.459.794-1.64 0-2.097L4.401.85c-.87-.53-2-.12-2 .82v12.625c0 .966 1.06 1.4 2 .844z"
                                        fill-rule="nonzero"></path>
                                </svg>



                            </div>
                        </div>
                        <div class="cancion-titulo">{{item.album}}</div>

                    </div>
                </div>
            </div>
            <!-- {{item._id}} -->
            <div class="col-detalle color-detalle-otros">
                <div class="detalle-position"> {{item.nombre}} </div>
            </div>
            <div class="col-detalle color-detalle-otros ">
                <div class="detalle-position">
                    {{item.cancion}}
                </div>
            </div>
            <div class="col-detalle color-detalle-otros detalle-position">
                <div class="detalle-position-time">
                    <div class="timer-music">
                        {{item.time}}
                    </div>
                    <div class="cancion-share cursor-cartas">...</div>
                </div>

            </div>

        </div>

    </div>

</div>