<div class="title-canciones">Canciones</div>
<div class="table-container noselect">
    <div class="table-canciones">
        <div class="canciones-list-header">
            <div class="col-header-table col-altura color-detalle-otros cancion-header-col-wit">
                <div class="header-val">Cancion</div>
            </div>
            <div class="column-header col-header-table col-altura color-detalle-otros">
                <div class="header-val">Artista</div>
            </div>
            <div class="column-header col-header-table col-altura color-detalle-otros">
                <div class="header-val">Album</div>
            </div>
            <div class="column-header col-header-table col-altura color-detalle-otros cancion-timer-col-wit">
                <div class="header-val">Time</div>
            </div>
        </div>
        <div class="cancioneslist-detalle" *ngFor="let item of canciones?.song">
            <div class="col-detalle color-detalle detalle-position">

                <div class="detalle-position">
                    <div class="card-song ">
                        <div class="img-song cursor-cartas" (click)="reproducir(item)">

                            <img [src]="item.cover" height="40px" width="40px">
                            <div class="artwork-overlay list-lockup-content__artwork-overlay">
                                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                    class="button-playLista cursor-cartas">
                                    <path
                                        d="M4.4 15.14l10.386-6.096c.842-.459.794-1.64 0-2.097L4.401.85c-.87-.53-2-.12-2 .82v12.625c0 .966 1.06 1.4 2 .844z"
                                        fill-rule="nonzero"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="cancion-titulo">{{item.album}}</div>
                        <div class="playing-music" *ngIf="item?._id === artista?._id">

                            <svg class="playback-bars__svg" viewBox="0 0 11 11">
                                <defs>
                                    <rect id="bar-ember222" x="0" width="2.1" y="0" height="11" rx=".25"></rect>
                                    <mask id="bar-mask-ember222">
                                        <use href="#bar-ember222" fill="white"></use>
                                    </mask>
                                </defs>
                                <g >
                                    <use  class="playback-bars__bar playback-bars__bar--1" href="#bar-ember222"></use>
                                </g>
                                <g id="barra2" transform="translate(2.9668 0)">
                                    <use  class="playback-bars__bar playback-bars__bar--2" href="#bar-ember222"></use>
                                </g>
                                <g transform="translate(5.9333 0)">
                                    <use class="playback-bars__bar playback-bars__bar--3" href="#bar-ember222"></use>
                                </g>
                                <g transform="translate(8.8999 0)">
                                    <use class="playback-bars__bar playback-bars__bar--4" href="#bar-ember222"></use>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {{item._id}} -->
            <div class="col-detalle color-detalle-otros">
                <div class="detalle-position"> {{item.nombre}} </div>
            </div>
            <div class="col-detalle color-detalle-otros ">
                <div class="detalle-position">
                    {{item.cancion}}
                </div>
            </div>
            <div class="col-detalle color-detalle-otros detalle-position">
                <div class="detalle-position-time">
                    <div class="timer-music">
                        {{item.time}}
                    </div>
                    <div class="cancion-share cursor-cartas">...</div>
                </div>

            </div>

        </div>

    </div>

</div>